  header {
    background: linear-gradient(90deg, #595ad5, #3d329a);
    color: white;
    padding: 1px;
    border-radius: 5px;
    font-size: 20px;
  }

  h1 {
    display: flex;
    justify-content: center;
    
  }
  
  #BiggieSmalls, #forecastCards {
    display: flex;
    flex-direction: row;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
  }
  
  #searchBar, #generatedCities, #hamburgerSection, #CurrentCityWrapper, #FiveDayForecast {
    display: flex;
    flex-direction: column;
  }
  
  #hamburgerSection, #FiveDayForecast, #currentWeather {
    width: 100%;
  }
  
  #hamburgerSection {
    margin: 7px;

  }
  
  #forecastCards {
    justify-content: space-around;
  }
  
  #forecastCards div {
    color:white;
    background-color: #293453;
    border-radius: 9px;
    width: 150px;
    
  }
  
  #currentWeather {
    border: 1px solid cadetblue;
    padding: 5px;
    width: 99.5%;
  }

  button {
    border-radius: 5px;
  }